body {
    min-height: calc(100vh);

}
#header {
    color: #2c3e50;
    font-size: 2.5em;
    margin-bottom: 20px;
    display: inline-block;
    padding-left: 10em;
}


.section {
    color: #34495e;
    font-size: 1.2em;
    margin: 15px 0;
}


.content {
    margin: 20px;
    padding: 15px;
    padding-left: 10em;
    font-family: 'Arial', sans-serif;
}


.sidebar {
    margin: 20px;
    padding: 15px;
    padding-left: 10em;
    font-family: 'Arial', sans-serif;
}


#footer {
    background-color: #ecf0f1;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Georgia', serif;
    color: #7f8c8d;
    height: 80px;
    
}
